In [2]:
import pandas as pd

## Create DataFrame

I want to store passenger data of the Titance. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data.

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"]
    }
)

In [4]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

Show series of `Age`

In [5]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

You can create a `Series` from scratch as well:

In [6]:
ages = pd.Series([22, 25, 58], name="Age")
ages

0    22
1    25
2    58
Name: Age, dtype: int64

A pandas `Series` has no column lables, as it is just a singole column of a `DataFrame`. A `Series` does have row lables.

I'm interested in some basic statistics of the **numerical** data of my data table

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

**REMEMBER**

- Import the package, aks `import pandas as pd`
- A table of data is stored as a pandas `DataFrame`
- Each column in a `DataFrame` is a `Series`
- You can do things by applying a method to a `DataFrame` or `Series`